@use "../../foundation/variables" as var;
@use "../../foundation/mixins" as min;
.p-sns {
    margin-bottom: 180px;

    @include min.breakpoint(tablet) {
        margin-bottom: 80px;
    }

    .snsContainer {

        display: flex;
        flex-direction: column;
        

        @include min.breakpoint(tablet) {
            flex-direction: row;
            margin-bottom: 119px;
        }

        .blogBlock {

            margin-bottom: 50px;

            @include min.breakpoint(tablet) {
                width: 58%;
                margin-right: 5%;
                margin-bottom: unset;
            }

            .blogTitle {
                font: normal normal bold 32px/54px "YuGothic";
                margin-bottom: 30px;
                text-align: center;

                @include min.breakpoint(tablet) {
                    text-align: left;
                }
            } 
        }

        .infoBlock {

            @include min.breakpoint(tablet) {

            }

            .infoTitle {
                font: normal normal bold 32px/54px "YuGothic";
                margin-bottom: 30px;
                text-align: center;

                @include min.breakpoint(tablet) {
                    text-align: left;
                }
            } 

            ul > li {

                margin-bottom: 50px;

                span {
                    display: block;
                    font: normal normal 500 12px/20px "YuGothic";
                    margin-bottom: 16px;
                }

                a {
                    font-weight: 500;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .contactContainer {
        height: 200px;
        position: relative;
        margin-bottom: 80px;

        @include min.breakpoint(tablet) {
            height: 250px;
        }

        picture {
            display: block;
            height: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .contactContent {
            display: block;
            position: absolute;
            top:30px;
            left: 50%;
            text-align: center;
            margin: 0 auto;
            transform: translateX(-50%);

            @include min.breakpoint(tablet) {
                top:30px;
            }

            .contactTitle {
                display: block;
                color: var.$text-white;
                font: normal normal bold 24px/32px "YuGothic";
                width: 300px;

                @include min.breakpoint(tablet) {
                    width: 500px;
                    font: normal normal bold 32px/54px "YuGothic";
                }
            }

            .footerRequest {
                display: block;
                width: 200px;
                border: 1px solid var.$bg-accent;
                color: var.$text-white;
                padding: 8px 22px;
                border-radius: 30px;
                font-weight: bold;
                margin: 25px auto 15px;
                background-color: var.$bg-accent;

                @include min.breakpoint(tablet) {
                    padding: 16px 44px;
                    border-radius: 50px;
                }

                &:hover {
                    background-color: var.$bg-white;
                    color: var.$text-main;
                }
            }

            .footerContact {
                color: var.$text-white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .telBlock {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;

            @include min.breakpoint(tablet) {
                flex-direction: row;
                justify-content: space-around;
                align-items: baseline;
            }

            .text {
                font-weight: bold;
                margin-bottom: 10px;
            }

            .tel {
                font: normal normal bold 36px/50px "YuGothic";
                margin-bottom: 10px;
            }

            .time {
                font-weight: 500;
            }
        }
    }
}